<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="{$baseUrl}/dist/style.css?v={sha1(filemtime('dist/style.css'))}">
    {block scripts}
        {*include nette ajax*}
        <script src="{$baseUrl}/dist/front.js?v={sha1(filemtime('dist/front.js'))}" async></script>
    {/block}

    <title>{ifset title}{include title|stripHtml} | {/ifset}Nette Web</title>
</head>

<body>
{control navbar}

<div class="container">
    <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
    {include content}
</div>
</body>
</html>
