{varType \App\Package\Article\Article[] $articles}
{varType \App\component\Article\ArticleOrderData $order}
<b>Řazení:</b> <a n:class="$order->isNew() ? bold" href="{plink articleNew}">nejnovejší</a> <a n:class="$order->isOld() ? bold" href="{plink articleOld}">nejstarší</a> <a n:class="$order->isRating() ? bold" href="{plink rating}">hodnocení</a> <a n:class="$order->isAlphabetical() ? bold" href="{plink alphabetical}">abecedně</a>
{snippet article}
{foreach $articles as $article}
    <h2>{$article->getName()}</h2>
    <p>{$article->getCreated()|date:'j. n. Y'}</p>
    <p>{$article->getPerex()}</p>
    <div>
        Líbí se {$article->getArticleRating()->getLikeCount()} uživatelům
        Nelíbí se {$article->getArticleRating()->getDislikeCount()} uživatelům
    </div>

    <div>
        {* button *}
        {if $user->isLoggedIn()}
            {if $article->getArticleRating()->isLike()}
                <span class="bg-primary">Líbí se mi to</span>
            {else}
                <span><a class="ajax" n:href="like! $article->getId()"><span class="glyphicon glyphicon-plus"></span> To se mi líbí</a></span>
            {/if}
            {if $article->getArticleRating()->isDislike()}
                <span class="bg-primary">Nelíbí se mi to</span>
            {else}
                <span><a class="ajax" n:href="dislike! $article->getId()"><span class="glyphicon glyphicon-minus"></span> To se mi nelíbí</a></span>
            {/if}
        {/if}
    </div>
{/foreach}

{control visualPaginator}
{/snippet}